<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="fatalitaTodo">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Список дел</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="./bootstrap.min.css"><!-- load bootstrap -->
	<style>
		html 					{ overflow-y:scroll; }
		body 					{ padding-top:50px; }
		#todo-list 				{ margin-bottom:30px; }
		#todo-form 	 			{ margin-bottom:50px; }
	</style>

	<!-- SPELLS -->
	<script src="./angular.min.js"></script><!-- load angular -->
	<script src="core.js"></script>

</head>
<body ng-controller="mainController">
	<div class="container">

		<!-- Заголовок с количеством дел -->
		<div class="jumbotron text-center">
			<h1>Список дел <span class="label label-info">{{ todos.length }}</span></h1>
		</div>

		<div class="row">
			<div class="col-lg-4">
				<form>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Выполнить</h3>
					</div>
					<div class="panel-body">
						<div id="todo-list" class="row primary">
							<div class="col-sm-12">
	
						<!--  $scope.todos -->
								<div class="checkbox" ng-repeat="todo in todosNew">
									<label>
										<input ng-model="todo.checked" type="checkbox" > {{ todo.text }} {{todo.date | date: 'dd.MM.yyyy'}}
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-success btn-md" ng-click="done()">Выполнено</button>
				</form>
			</div>


			<div class="col-lg-4">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">Просроченные</h3>
					</div>
					<div class="panel-body">
						<div id="todo-list" class="row danger">
							<div class="col-sm-12">
								<div class="checkbox" ng-repeat="todo in todosOverdue">
									<label>
										<input type="checkbox" ng-model="todo.checked"> {{ todo.text }} {{todo.date | date: 'dd.MM.yyyy'}}
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">Выполненные</h3>
					</div>
					<div class="panel-body">
						<div id="todo-list" class="row success">
							<div class="col-sm-12">
								<div class="checkbox" ng-repeat="todo in todosReady">
									<label>
										<input type="checkbox" ng-model="todo.checked"> {{ todo.text }}  {{todo.date | date: 'dd.MM.yyyy'}}
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="todo-form" class="row">
			<div class="col-sm-3 col-sm-offset-4 text-center">
				<form>
					<div class="form-group">


						<input type="text" class="form-control input-sm text-center" placeholder="Ведите название" ng-model="formData.text">
						<input type="date" class="form-control input-sm text-center" placeholder="Время исполнения" ng-model="formData.date">
					</div>

					<!-- createToDo() создать новое дело -->
					<button type="submit" class="btn btn-success btn-lg" ng-click="createTodo()">Добавить</button>
					<button type="submit" class="btn btn-danger btn-lg" ng-click="deleteList()">Удалить</button>
				</form>
			</div>
		</div>
	</div>

</body>
</html>
